@import url("../css//common.css");
@import url("../css/sidenav.css");
@import url("../css/note.css");

.archived-notes-container {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
}

@media screen and (max-width: 730px) {
  .archive-page {
    width: calc(100% - 80px);
    margin-left: 75px;
  }
}
